/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

* {
    font-family: "Helvetica for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    /* background-color: blue; */
}

*:visited {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
}

.pageWrapperContainer{
    height: 100vh;

    display: flex;
    justify-content: center;
    /* padding: min(0px 50px);
    padding: max(0px 400px) */
}

/* COMPONENT */
/*
width: 100%;
max-width: 1440px;

margin: 0px;
padding: 0px 20px;

display: flex;
flex-direction:column;
align-items: center;
*/


/* ERRORS */

.errors {
    width: 100%;
    
    margin: 0;
    border: none;
    padding: 10px 0px;

    font-size: 14px;
    color: red;
    text-align: center;
}

.error-item {
    margin: 0;
    border: none;
    padding: none;
}
